*{
    padding: 0px;
    margin: 0px;
}

.registration{
    display: inline-block;
    margin-left: 20px;
}

.registration h4{
    display: inline-block;
}

.login{
    display: inline-block;
    vertical-align: top;
    margin-left: 400px;
}

.login h4{
    display: inline-block;
}