<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Edit Show</title>
    </head>

    <body>
 
        <form action="/shows/{{show.id}}/edit_show" method="POST">
            {% csrf_token %}
            <h1>Edit Show {{show.id}}</h1>
            <h3>Title</h3>
            <input type="text" name="title" placeholder="{{show.title}}">
            <h3>Network</h3>
            <input type="text" name="network" placeholder="{{show.network}}">
            <h3>Release Date</h3>
            <input type="date" name="release" placeholder="{{show.release}}">
            <h3>Description</h3>
            <textarea class="textbox" name="description" rows="10" cols="50" placeholder="{{show.description}}"></textarea>
            <br>
            <input type="submit" value="Create">
        </form>
        <a href="/shows">Go To Show!</a>


        
    </body>

</html>