<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'exam_app/css/dashboard.css' %}"> 

    </head>


    <body>
        
        <div class="header">
            <h2>Hello {{request.session.first_name}}!</h2>
            <a href="/logout">Logout</a>
            <form action="/new_job" method="POST">
                {% csrf_token %}
                <input type="submit" value="New job!">
            </form>
        </div>
        <div class="container">

            <div class="jobs">
                <h3>Everyone's jobs:</h3>
                <table>
                        <tr>
                            <th>Job</th>
                            <th>Location</th>
                            <th>Actions</th>
                        </tr>
                    {% for job in jobs %}
                    
                        <tr>
                            <td>{{job.title}}</td>
                            <td>{{job.location}}</td>
                            {% if request.session.user ==  job.creator.id %}
                            <td><a href="/jobs/{{job.id}}">View | <a href="edit/{{job.id}}">Edit</a> | <a href="/{{job.id}}/remove">Remove</a></td> 
                            {% else %}
                            <td><a href="/jobs/{{job.id}}">View</a></td>
                            {% endif %}
                        </tr>
                    
                    {% endfor %}
                </table>
            </div>
            
        </div>
        </body>
        </html>