<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>View Job</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'exam_app/css/view.css' %}"> 

    </head>

    <body>
        <div class="header">
            <h2>Hello {{request.session.first_name}}! These are the job details!</h2>
            <a class="dashboard" href="/dashboard">Dashboard</a>
            <a class="logout" href="/logout">Logout</a>
        </div>
        <h2>{{job.title}}</h2>
        <div class="jobBody">
            <p>{{job.description}}</p>
            <p>Location: {{job.location}}</p>
            <p>Posted by: {{job.creator.first_name}}</p>
            <p>Posted on: {{job.created_at}}</p>

        </div>
        
    </body>
</html>